* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./back2.jpg);
    background-size: cover;

}

.boxes {
    position: relative;
    max-width: 650px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    background-color: rgb(174, 216, 247);
    align-items: center;
    text-align: center;
    padding: 50px 30px;
        cursor: url("thor-removebg-preview.png"),
        auto;

}

.box {
    height: 150px;
    width: 150px;
    border: 2px inset gray;

}

.gameoverbox {
    position: absolute;
    top: 200px;
    display: none;
    z-index: 2;
    background-color: antiquewhite;
    height: 350px;
    width: 40vw;
    border-radius: 30px;
    vertical-align: middle;
    text-align: center;
    padding: 50px auto;
}

.gameHead {
    width: 600px;
    height: 100px;
    color: rgb(165, 42, 69);
    background-color: lightgoldenrodyellow;
    text-align: center;

    border: 2px solid red;
}

.playInfo{
    position: absolute;
    left:50px;
    width:300px;
    background-color: pink;
    border-radius:30px;
    height:400px;
    color: black;
    border:2px solid yellow;
    text-align: center;
    vertical-align: middle;
    padding: 30px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2.3;
}

.total-score{
    border: 2pxs solid yellow;
    background: rebeccapurple;
    color: white;
}

.Time-display{
    position: relative;
    display: flex;
    width:300px;
    flex-direction: column;
    background:white;
    color:blue;
}